<html>
    <body>
      <style>
        .rw-conversation-container .rw-header {background-color: blueviolet;}
        .rw-conversation-container .rw-messages-container .rw-client{background-color:rgb(127, 214, 255)}
        .rw-launcher {background-color: blueviolet;}

      </style>

        <script>
        // curl -H "Content-Type: application/json" -X POST -d '{"name": "change_context", "entities": {"context": "PAGINA PRINCIPAL"}}' "http://localhost:5005/conversations/user123/trigger_intent?output_channel=latest";
      
        var url = 'http://localhost:5005/conversations/user123/trigger_intent?output_channel=latest';
        var data = {"name": "change_context", "entities": {"context": "INDEX"}};
          fetch(url, {
            body: JSON.stringify(data),
            headers: {
              'dataType': 'json',
              'content-type': 'application/json'
            },
            method: 'POST',
            redirect: 'follow'
          })
          .then(response => {
            if (response.status === 200) {
              console.log(response.text());
          } else {
          throw new Error('Something went wrong on api server!');
          }
        })
        .catch(error => {
          console.error(error);
        });



        !(function () {
          let e = document.createElement("script"),
            t = document.head || document.getElementsByTagName("head")[0];
          (e.src =
            "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
            // Replace 1.x.x with the version that you want
            (e.async = !0),
            (e.onload = () => {
              window.WebChat.default(
                {
                  customData: { language: "es" },
                  socketUrl: "http://localhost:5005",
                  initPayload: "/inciate_conv",
                  title: 'Hola! Soy Sara',
                  subtitle: 'Pregúntame cualquier cosa!',
                  // profileAvatar: '/img/female-call-center-operator.gif',
                  // profileAvatar: "C:/Users/vicll/OneDrive/Escritorio/UNI 2022-2023/TFG/PROYECTOS/project/img/user.png",
                  inputTextFieldHint: 'Escribe algo..'
                  // openLauncherImage: 'img/UP.gif'
                },
                null
              );
            }),
            t.insertBefore(e, t.firstChild);
        })();
        localStorage.clear();
        </script>
    </body>
</html>